
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #7b7b7b;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.receipt-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.receipt-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.subheading-phone {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.subheading-address {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.date-time-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.receipt-date {
    font-size: 12px;
}

.receipt-time {
    font-size: 12px;
}

.receipt-table {
    width: 100%;
    border-collapse: collapse;

}


.receipt-table td {
    border: 1px solid #7b7b7b;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

.td-price {
    width: 25%;
}

.receipt-table th {
    background-color: #d1d1d1;
    border: 1px solid #7b7b7b;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
}

.receipt-table .td-left {
    text-align: left;
}

.receipt-summary-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.receipt-summary {
    text-align: right;
}

.summary-item {
    margin: 5px 0;
    font-size: 12px;
}

.total-amount {
    font-size: 15px;
    font-weight: bolder;
    color: #333;
}